/* App container styling */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Role toggle buttons styling */
.role-toggle-buttons {
  display: flex;
  gap: 10px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: white;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  background-color: #d3d3d3; /* Color when button is active */
}

/* Auth buttons for Signup and Login */
.auth-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.auth-button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #e0e0e0;
}


/* Signup */

/* Center container on the page */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Style the form */
.signup-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Labels and inputs */
.signup-form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Sign up button */
.signup-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #45a049;
}

/* Error message */
.signup-form .error-message {
  color: #d9534f;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
